body {
    background-color: #efeee7;
    font: "Georgia",Times New Roman,Times,serif;
    font color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333
}

h1 {
    font color: #eee;
    font-size: 28px;
}

a {
    color: #d21034;
}